
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}"/>
</head>
<body>
   <header>
      <img src="{{url_for('static', filename = 'logo.jpg')}}" alt="Brzi fast food">
      <h3>najgora dostava u gradu </h3>
   </header>
   <h1>Zdravo programeri</h1>
   <h1>Pozdrav sa templejta</h1>
   <h3>{{ naziv }}</h3>
   <p>{{ spisak }}</p>
   <ul>
        {% for stavka in spisak %}
          <li><a href="/restoran/{{stavka.id}}">{{ stavka.naziv }}</a></li>
        {% endfor %}
      </ul>
</body>
</html>
