<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="static/style.css">
</head>
<body>
   <h1>Zdravo programeri</h1>
   <h1>Pozdrav sa templejta</h1>
   <h3>{{ naslov }}</h3>
   <p>{{ spisak }}</p>
   <ul>
        {% for stavka in spisak %}
          <li><a href="/restoran">{{ stavka }}</a>/li>
        {% endfor %}
      </ul>
</main>
<footer>
  <div class="container sredina">
    <h4>Brzi doo, Leskovac</h4>
    <h4>Proleterska 34</h4>
    <h4>055 256 256</h4>
   </div>
  
 </footer>
</body>
</html>
